In [3]:
from get_data import get_data

get_data()

Downloading airline-delay-and-cancellation-data-2009-2018.zip to /opt/workspace/data/airline-delay-and-cancellation-data-2009-2018

100%|██████████| 1.95G/1.95G [05:41<00:00, 6.11MB/s]

In [4]:
from pyspark.sql import SparkSession
from pyspark.sql.types import IntegerType, FloatType, BooleanType
import pyspark.sql.functions as F
from pathlib import Path
from datetime import datetime

DATA_PATH = Path("/opt/workspace/data")
csv_files = list(DATA_PATH.glob("*.csv"))

In [5]:
jar_postgres = Path.cwd() / "postgresql-42.5.1.jar"
master_url = "spark://spark-master:7077"
spark = SparkSession \
        .builder \
        .appName("FlightDelaysNotebook") \
        .config("spark.jars", str(jar_postgres)) \
        .master(master_url) \
        .getOrCreate()

WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.apache.spark.unsafe.Platform (file:/opt/spark/jars/spark-unsafe_2.12-3.2.2.jar) to constructor java.nio.DirectByteBuffer(long,int)
WARNING: Please consider reporting this to the maintainers of org.apache.spark.unsafe.Platform
WARNING: Use --illegal-access=warn to enable warnings of further illegal reflective access operations
WARNING: All illegal access operations will be denied in a future release
22/12/05 23:25:34 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

Lendo os dados baixados:

In [6]:
df = spark.read.csv(list(map(lambda x: str(x), csv_files)), header=True)

In [7]:
df.printSchema()

root
 |-- FL_DATE: string (nullable = true)
 |-- OP_CARRIER: string (nullable = true)
 |-- OP_CARRIER_FL_NUM: string (nullable = true)
 |-- ORIGIN: string (nullable = true)
 |-- DEST: string (nullable = true)
 |-- CRS_DEP_TIME: string (nullable = true)
 |-- DEP_TIME: string (nullable = true)
 |-- DEP_DELAY: string (nullable = true)
 |-- TAXI_OUT: string (nullable = true)
 |-- WHEELS_OFF: string (nullable = true)
 |-- WHEELS_ON: string (nullable = true)
 |-- TAXI_IN: string (nullable = true)
 |-- CRS_ARR_TIME: string (nullable = true)
 |-- ARR_TIME: string (nullable = true)
 |-- ARR_DELAY: string (nullable = true)
 |-- CANCELLED: string (nullable = true)
 |-- CANCELLATION_CODE: string (nullable = true)
 |-- DIVERTED: string (nullable = true)
 |-- CRS_ELAPSED_TIME: string (nullable = true)
 |-- ACTUAL_ELAPSED_TIME: string (nullable = true)
 |-- AIR_TIME: string (nullable = true)
 |-- DISTANCE: string (nullable = true)
 |-- CARRIER_DELAY: string (nullable = true)
 |-- WEATHER_DELAY: string (nullable = true)
 |-- NAS_DELAY: string (nullable = true)
 |-- SECURITY_DELAY: string (nullable = true)
 |-- LATE_AIRCRAFT_DELAY: string (nullable = true)
 |-- Unnamed: 27: string (nullable = true)

Renomeando as colunas para lowercase e retirando a última (não é utilizada)

In [8]:
df = df.drop("Unnamed: 27")

for column in df.columns:
    df = df.withColumnRenamed(column, column.lower())

Escrevendo direto para o banco de dados para comparação da velocidade de correção de dados:

In [7]:
properties = {
    "user": "postgres",
    "password": "spark",
    "driver": "org.postgresql.Driver"
}
url = "jdbc:postgresql://demo-database:5432/postgres"

t0 = datetime.now()
df \
    .write \
    .jdbc(url=url, table="flight_delays_raw", mode="append", properties=properties)
t1 = datetime.now()
delta = t1 - t0

print(f"Execution time: {delta}")

22/12/05 22:32:00 WARN package: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.

Execution time: 0:19:10.739307

Iremos corrigir os dados no PySpark. Lembrando que a estrutura DataFrame é lazy, então o código abaixo só irá guardar as operações, que serão feitas na hora da escrita.

In [9]:
from pyspark.sql import Column, DataFrame

def cast_floatstr_to_int(col_str: str) -> Column:
    return F.col(col_str).cast(FloatType()).cast(IntegerType())

def datediff_min(col1: str, col2: str) -> Column:
    return (F.unix_timestamp(F.col(col1)) - F.unix_timestamp(F.col(col2))) / 60

def correct_data(df: DataFrame) -> DataFrame:
    df_new = df \
        .withColumn("crs_dep_time", F.concat_ws(' ', F.col("fl_date"), F.concat(F.lpad(F.col("crs_dep_time"), 4, '0'), F.lit("00")))) \
        .withColumn("dep_time", F.concat_ws(' ', F.col("fl_date"), F.concat(F.lpad(cast_floatstr_to_int("dep_time"), 4, '0'), F.lit("00")))) \
        .withColumn("crs_arr_time", F.concat_ws(' ', F.col("fl_date"), F.concat(F.lpad(F.col("crs_arr_time"), 4, '0'), F.lit("00")))) \
        .withColumn("arr_time", F.concat_ws(' ', F.col("fl_date"), F.concat(F.lpad(cast_floatstr_to_int("arr_time"), 4, '0'), F.lit("00")))) \
        .withColumn("wheels_off", F.concat_ws(' ', F.col("fl_date"), F.concat(F.lpad(cast_floatstr_to_int("wheels_off"), 4, '0'), F.lit("00")))) \
        .withColumn("wheels_on", F.concat_ws(' ', F.col("fl_date"), F.concat(F.lpad(cast_floatstr_to_int("wheels_on"), 4, '0'), F.lit("00")))) \
        .withColumn("fl_date", F.col("fl_date").cast("date")) \
        .withColumn("dep_delay", cast_floatstr_to_int("dep_delay")) \
        .withColumn("arr_delay", cast_floatstr_to_int("arr_delay")) \
        .withColumn("taxi_out", cast_floatstr_to_int("taxi_out")) \
        .withColumn("taxi_in", cast_floatstr_to_int("taxi_in"))
    
    timestamp_cols = ["wheels_on", "wheels_off", "arr_time", "crs_arr_time", "dep_time", "crs_dep_time"]
    
    for col in timestamp_cols:
        df_new = df_new.withColumn(col, F.to_timestamp(col, "yyyy-MM-dd HHmmss"))
    
    # check if dates are in the other day
    df_new = df_new \
        .withColumn("crs_arr_time", F.when(datediff_min("crs_arr_time", "crs_dep_time") < 0, F.col("crs_arr_time") + F.expr("INTERVAL 1 DAY")).otherwise(F.col("crs_arr_time"))) \
        .withColumn("wheels_on", F.when(datediff_min("wheels_on", "wheels_off") < 0, F.col("crs_arr_time") + F.expr("INTERVAL 1 DAY")).otherwise(F.col("wheels_on"))) \
        .withColumn("arr_time", F.when(F.datediff(F.to_date(F.col("crs_arr_time")), F.to_date(F.col("crs_dep_time"))) > 0, F.col("arr_time") + F.expr("INTERVAL 1 DAY")).otherwise(F.col("arr_time")))
    
    df_new = df_new \
            .withColumn("air_time", datediff_min("wheels_on", "wheels_off")) \
            .withColumn("crs_elapsed_time", datediff_min("crs_arr_time", "crs_dep_time")) \
            .withColumn("actual_elapsed_time", F.col("air_time") + F.col("taxi_out") + F.col("taxi_in")) \
            .withColumn("distance", F.col("distance").cast(FloatType())) \
            .withColumn("carrier_delay", F.col("carrier_delay").cast(FloatType())) \
            .withColumn("weather_delay", F.col("weather_delay").cast(FloatType())) \
            .withColumn("nas_delay", F.col("nas_delay").cast(FloatType())) \
            .withColumn("security_delay", F.col("security_delay").cast(FloatType())) \
            .withColumn("late_aircraft_delay", F.col("late_aircraft_delay").cast(FloatType())) \
            .withColumn("cancelled", cast_floatstr_to_int("cancelled").cast(BooleanType())) \
            .withColumn("diverted", cast_floatstr_to_int("diverted").cast(BooleanType()))
            
    return df_new


df = correct_data(df)

In [10]:
df.printSchema()

root
 |-- fl_date: date (nullable = true)
 |-- op_carrier: string (nullable = true)
 |-- op_carrier_fl_num: string (nullable = true)
 |-- origin: string (nullable = true)
 |-- dest: string (nullable = true)
 |-- crs_dep_time: timestamp (nullable = true)
 |-- dep_time: timestamp (nullable = true)
 |-- dep_delay: integer (nullable = true)
 |-- taxi_out: integer (nullable = true)
 |-- wheels_off: timestamp (nullable = true)
 |-- wheels_on: timestamp (nullable = true)
 |-- taxi_in: integer (nullable = true)
 |-- crs_arr_time: timestamp (nullable = true)
 |-- arr_time: timestamp (nullable = true)
 |-- arr_delay: integer (nullable = true)
 |-- cancelled: boolean (nullable = true)
 |-- cancellation_code: string (nullable = true)
 |-- diverted: boolean (nullable = true)
 |-- crs_elapsed_time: double (nullable = true)
 |-- actual_elapsed_time: double (nullable = true)
 |-- air_time: double (nullable = true)
 |-- distance: float (nullable = true)
 |-- carrier_delay: float (nullable = true)
 |-- weather_delay: float (nullable = true)
 |-- nas_delay: float (nullable = true)
 |-- security_delay: float (nullable = true)
 |-- late_aircraft_delay: float (nullable = true)

Escrevendo para um arquivo Parquet para comprimir e utiizar menos espaço no filesystem:

In [11]:
t0 = datetime.now()
df \
    .write \
    .parquet(str(DATA_PATH / "flight_delays") , mode="overwrite")
t1 = datetime.now()
delta = t1 - t0

print(f"Execution time: {delta}")

22/12/05 23:28:30 WARN package: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.

Execution time: 0:05:26.920534

Deletando os csvs e relendo o DataFrame

In [12]:
csv_files = DATA_PATH.glob("*.csv")
for file in csv_files:
    file.unlink()

In [13]:
df = spark.read.parquet(str(DATA_PATH / "flight_delays"))

Conectando na database Postgres para comparar as operações do Spark com ela:

Conectando no Postgres

In [1]:
import psycopg2 as psql

properties_psql = {
    "database": "postgres",
    "user": "postgres",
    "password": "spark",
    "host": "demo-database",
    "port": "5432"
}

conn = psql.connect(**properties_psql)
cur = conn.cursor()

Corrigindo os dados da tabela crua:

In [18]:
t0 = datetime.now()
cur.execute(
    """
    create table flight_delays as (
        with flight_delays_timestamp as (
            select
                to_date(fl_date, 'YYYY-MM-DD') as fl_date,
                rpad(lpad(crs_dep_time::float::integer::text, 4, '0'), 6, '0')::time as crs_dep_time,
                rpad(lpad(cast(cast(cast(dep_time as float) as integer) as text), 4, '0'), 6, '0')::time as dep_time,
                rpad(lpad(crs_arr_time::float::integer::text, 4, '0'), 6, '0')::time as crs_arr_time,
                rpad(lpad(cast(cast(cast(arr_time as float) as integer) as text), 4, '0'), 6, '0')::time as arr_time,
                rpad(lpad(cast(cast(cast(wheels_off as float) as integer) as text), 4, '0'), 6, '0')::time as wheels_off,
                rpad(lpad(cast(cast(cast(wheels_on as float) as integer) as text), 4, '0'), 6, '0')::time as wheels_on,
                cast(cast(dep_delay as float) as integer) as dep_delay,
                cast(cast(arr_delay as float) as integer) as arr_delay,
                cast(cast(taxi_out as float) as integer) as taxi_out,
                cast(cast(taxi_in as float) as integer) as taxi_in,
                origin,
                dest,
                op_carrier,
                op_carrier_fl_num,
                cast(cast(cast(cancelled as float) as integer) as boolean) as cancelled,
                cancellation_code,
                cast(cast(cast(diverted as float) as integer) as boolean) as diverted,
                cast(distance as float) as distance,
                cast(carrier_delay as float) as carrier_delay,
                cast(nas_delay as float) as nas_delay,
                cast(weather_delay as float) as weather_delay,
                cast(security_delay as float) as security_delay,
                cast(late_aircraft_delay as float) as late_aircraft_delay
            from
                flight_delays_raw
        ),
        flight_delays_datetime as (
            select
                origin,
                dest,
                op_carrier,
                op_carrier_fl_num,
                fl_date,
                fl_date + crs_dep_time as crs_dep_time,
                case
                    when dep_time < crs_dep_time and crs_dep_time - dep_time > abs(dep_delay) * interval '1 minute' then fl_date + dep_time + interval '1 day'
                    else fl_date + dep_time
                end as dep_time,
                case 
                    when crs_arr_time < crs_dep_time then fl_date + crs_arr_time + interval '1 day'
                    else fl_date + crs_arr_time
                end as crs_arr_time,
                case 
                    when arr_time < crs_dep_time then fl_date + arr_time + interval '1 day'
                    else fl_date + arr_time
                end as arr_time,
                case
                    when wheels_off < crs_dep_time then fl_date + wheels_off + interval '1 day'
                    else fl_date + wheels_off
                end as wheels_off,
                case
                    when wheels_on < crs_dep_time then fl_date + wheels_on + interval '1 day'
                    else fl_date + wheels_on
                end as wheels_on,
                dep_delay,
                arr_delay,
                taxi_out,
                taxi_in,
                cancelled,
                cancellation_code,
                diverted,
                distance,
                carrier_delay,
                nas_delay,
                weather_delay,
                security_delay,
                late_aircraft_delay
            from
                flight_delays_timestamp
        )
        select
            *,
            wheels_on - wheels_off as air_time,
            crs_arr_time - crs_dep_time as crs_elapsed_time,
            wheels_on - wheels_off + taxi_out * '1 minute'::interval + taxi_in * '1 minute'::interval as actual_elapsed_time
        from
            flight_delays_datetime
    )
    """
)
t1 = datetime.now()
delta = t1 - t0

print(f"Execution time: {delta}")

Execution time: 0:09:46.578231

In [17]:
cur.execute('rollback')
conn.commit()

Tempo médio de atraso de saída e de taxi, por aeroporto de saída e por companhia aérea:

In [15]:
t0 = datetime.now()
result_spark = df \
    .select(F.col("op_carrier"), F.col("origin"), F.col("dep_delay"), F.col("taxi_out")) \
    .groupBy("op_carrier", "origin") \
    .agg(
        F.avg("dep_delay").alias("avg_dep_delay"),
        F.avg("taxi_out").alias("avg_taxi_out")
    ) \
    .orderBy(F.col("avg_dep_delay").desc(), F.col("avg_taxi_out").desc()) \
    .collect()
t1 = datetime.now()
delta = t1 - t0

print(f"Execution time: {delta}")

Execution time: 0:00:06.389953

In [16]:
t0 = datetime.now()
cur.execute(
    """
    select
        origin,
        op_carrier,
        avg(dep_delay) as avg_dep_delay,
        avg(taxi_out) as avg_taxi_out
    from
        flight_delays
    group by
        origin,
        op_carrier
    order by
        3 desc,
        4 desc
    """
)
result_postgres = cur.fetchall()
t1 = datetime.now()
delta = t1 - t0

print(f"Execution time: {delta}")
conn.commit()

Execution time: 0:00:11.316320

In [26]:
df \
    .select(F.col("op_carrier"), F.col("origin"), F.col("dep_delay"), F.col("taxi_out")) \
    .groupBy("op_carrier", "origin") \
    .agg(
        F.avg("dep_delay").alias("avg_dep_delay"),
        F.avg("taxi_out").alias("avg_taxi_out")
    ) \
    .orderBy(F.col("avg_dep_delay").desc(), F.col("avg_taxi_out").desc()) \
    .show()

+----------+------+------------------+------------------+
|op_carrier|origin|     avg_dep_delay|      avg_taxi_out|
+----------+------+------------------+------------------+
|        F9|   OAK|             328.0|              13.0|
|        OO|   ENV|             157.0|               8.0|
|        EV|   BZN|             142.0|              17.0|
|        VX|   TUL|             113.0|              11.0|
|        EV|   BOI|             113.0|               8.0|
|        EV|   RKS|             105.0|               5.0|
|        G4|   CPR|             100.0|               7.0|
|        B6|   AVP|              91.0|              25.0|
|        OO|   GCK|              74.0|              14.0|
|        9E|   GTF| 71.73684210526316|20.789473684210527|
|        EV|   MCN|              67.0|               1.0|
|        G4|   YNG|              63.0|              38.5|
|        OO|   SWO|              61.0|               8.0|
|        XE|   SPI|              61.0|               5.0|
|        G4|   AVP|              60.5|              12.0|
|        UA|   AGS|              60.0|              11.2|
|        EV|   CYS|              60.0|               7.0|
|        EV|   HTS|              58.0|              9.75|
|        UA|   AVL|57.808664259927795|16.469314079422382|
|        OO|   CLL|        57.7734375|        15.6015625|
+----------+------+------------------+------------------+
only showing top 20 rows

Média de tempo de atraso total, atraso de partida e de chegada e de tempos de taxi, por companhia aérea, aeroporto de origem e de destino

In [21]:
t0 = datetime.now()
result_spark = df \
    .select(
        F.col("op_carrier"),
        F.col("origin"),
        F.col("dest"),
        F.col("crs_elapsed_time"),
        F.col("actual_elapsed_time"),
        F.col("dep_delay"),
        F.col("taxi_out"),
        F.col("taxi_in"),
        F.col("arr_delay")
    ) \
    .groupBy("op_carrier", "origin", "dest") \
    .agg(
        F.avg(F.col("crs_elapsed_time") - F.col("actual_elapsed_time")).alias("avg_total_delay"),
        F.avg("dep_delay").alias("avg_dep_delay"),
        F.avg("taxi_out").alias("avg_taxi_out"),
        F.avg("taxi_in").alias("avg_taxi_in"),
        F.avg("arr_delay").alias("avg_arr_delay")
    ) \
    .orderBy(F.col("avg_total_delay").desc()) \
    .collect()
t1 = datetime.now()
delta = t1 - t0

print(f"Execution time: {delta}")

Execution time: 0:00:10.256303

In [19]:
t0 = datetime.now()
cur.execute(
    """
    with total_delay as (
        select
            origin,
            dest,
            op_carrier,
            crs_elapsed_time - actual_elapsed_time as total_delay,
            dep_delay
            arr_delay
            taxi_out
            taxi_in
        from
            flight_delays
    )
    select
        origin,
        dest,
        op_carrier,
        avg(extract(epoch from total_delay)/60) as avg_total_delay,
        avg(dep_delay) as avg_dep_delay,
        avg(arr_delay) as avg_arr_delay,
        avg(taxi_out) as avg_taxi_out,
        avg(taxi_in) as avg_taxi_in
    from
        total_delay
    group by
        origin,
        dest,
        op_carrier
    order by
        4 desc
    """
)
result_postgres = cur.fetchall()
t1 = datetime.now()
delta = t1 - t0

print(f"Execution time: {delta}")
conn.commit()

Execution time: 0:01:15.567849

In [3]:
#t0 = datetime.now()
cur.execute(
    """
    select
        origin,
        dest,
        op_carrier,
        crs_elapsed_time - actual_elapsed_time as total_delay,
        dep_delay
        arr_delay
        taxi_out
        taxi_in
    from
        flight_delays
    limit 10
    """
)
result_postgres = cur.fetchall()
#t1 = datetime.now()
#delta = t1 - t0

#print(f"Execution time: {delta}")
conn.commit()

In [4]:
result_postgres

[('SEA', 'PHL', 'US', datetime.timedelta(seconds=600), -7, -17, 21, 11),
 ('SAN', 'SEA', 'AS', datetime.timedelta(seconds=480), -6, -14, 10, 4),
 ('SEA', 'SAN', 'AS', datetime.timedelta(0), -4, -4, 15, 4),
 ('SAN', 'SEA', 'AS', datetime.timedelta(seconds=660), -2, -13, 9, 6),
 ('SEA',
  'SAN',
  'AS',
  datetime.timedelta(days=-1, seconds=86340),
  -3,
  -2,
  15,
  4),
 ('SAN',
  'SEA',
  'AS',
  datetime.timedelta(days=-1, seconds=85920),
  -11,
  -3,
  11,
  9),
 ('SEA',
  'SAN',
  'AS',
  datetime.timedelta(days=-1, seconds=85980),
  10,
  17,
  18,
  4),
 ('SAN',
  'SEA',
  'AS',
  datetime.timedelta(days=-1, seconds=85740),
  -3,
  8,
  27,
  5),
 ('SNA', 'SEA', 'AS', datetime.timedelta(seconds=300), 0, -5, 6, 4),
 ('SEA', 'SNA', 'AS', datetime.timedelta(seconds=300), 10, 5, 13, 7)]

In [21]:
t0 = datetime.now()
cur.execute(
    """
    select
        *
    from
        flight_delays
    limit 10
    """
)
result_postgres = cur.fetchall()
t1 = datetime.now()
delta = t1 - t0

print(f"Execution time: {delta}")
conn.commit()

Execution time: 0:00:00.005919

In [22]:
result_postgres

[('SEA',
  'PHL',
  'US',
  '798',
  datetime.date(2014, 5, 18),
  datetime.datetime(2014, 5, 18, 8, 10),
  datetime.datetime(2014, 5, 18, 8, 3),
  datetime.datetime(2014, 5, 18, 16, 23),
  datetime.datetime(2014, 5, 18, 16, 6),
  datetime.datetime(2014, 5, 18, 8, 24),
  datetime.datetime(2014, 5, 18, 15, 55),
  -7,
  -17,
  21,
  11,
  False,
  None,
  False,
  2378.0,
  None,
  None,
  None,
  None,
  None,
  datetime.timedelta(seconds=27060),
  datetime.timedelta(seconds=29580),
  datetime.timedelta(seconds=28980)),
 ('SAN',
  'SEA',
  'AS',
  '485',
  datetime.date(2014, 7, 24),
  datetime.datetime(2014, 7, 24, 20, 55),
  datetime.datetime(2014, 7, 24, 20, 49),
  datetime.datetime(2014, 7, 24, 23, 26),
  datetime.datetime(2014, 7, 24, 23, 12),
  datetime.datetime(2014, 7, 24, 20, 59),
  datetime.datetime(2014, 7, 24, 23, 8),
  -6,
  -14,
  10,
  4,
  False,
  None,
  False,
  1050.0,
  None,
  None,
  None,
  None,
  None,
  datetime.timedelta(seconds=7740),
  datetime.timedelta(seconds=9060),
  datetime.timedelta(seconds=8580)),
 ('SEA',
  'SAN',
  'AS',
  '490',
  datetime.date(2014, 7, 24),
  datetime.datetime(2014, 7, 24, 12, 17),
  datetime.datetime(2014, 7, 24, 12, 13),
  datetime.datetime(2014, 7, 24, 15, 0),
  datetime.datetime(2014, 7, 24, 14, 56),
  datetime.datetime(2014, 7, 24, 12, 28),
  datetime.datetime(2014, 7, 24, 14, 52),
  -4,
  -4,
  15,
  4,
  False,
  None,
  False,
  1050.0,
  None,
  None,
  None,
  None,
  None,
  datetime.timedelta(seconds=8640),
  datetime.timedelta(seconds=9780),
  datetime.timedelta(seconds=9780)),
 ('SAN',
  'SEA',
  'AS',
  '493',
  datetime.date(2014, 7, 24),
  datetime.datetime(2014, 7, 24, 8, 0),
  datetime.datetime(2014, 7, 24, 7, 58),
  datetime.datetime(2014, 7, 24, 10, 43),
  datetime.datetime(2014, 7, 24, 10, 30),
  datetime.datetime(2014, 7, 24, 8, 7),
  datetime.datetime(2014, 7, 24, 10, 24),
  -2,
  -13,
  9,
  6,
  False,
  None,
  False,
  1050.0,
  None,
  None,
  None,
  None,
  None,
  datetime.timedelta(seconds=8220),
  datetime.timedelta(seconds=9780),
  datetime.timedelta(seconds=9120)),
 ('SEA',
  'SAN',
  'AS',
  '494',
  datetime.date(2014, 7, 24),
  datetime.datetime(2014, 7, 24, 15, 20),
  datetime.datetime(2014, 7, 24, 15, 17),
  datetime.datetime(2014, 7, 24, 18, 0),
  datetime.datetime(2014, 7, 24, 17, 58),
  datetime.datetime(2014, 7, 24, 15, 32),
  datetime.datetime(2014, 7, 24, 17, 54),
  -3,
  -2,
  15,
  4,
  False,
  None,
  False,
  1050.0,
  None,
  None,
  None,
  None,
  None,
  datetime.timedelta(seconds=8520),
  datetime.timedelta(seconds=9600),
  datetime.timedelta(seconds=9660)),
 ('SAN',
  'SEA',
  'AS',
  '495',
  datetime.date(2014, 7, 24),
  datetime.datetime(2014, 7, 24, 15, 45),
  datetime.datetime(2014, 7, 24, 15, 34),
  datetime.datetime(2014, 7, 24, 18, 20),
  datetime.datetime(2014, 7, 24, 18, 17),
  datetime.datetime(2014, 7, 24, 15, 45),
  datetime.datetime(2014, 7, 24, 18, 8),
  -11,
  -3,
  11,
  9,
  False,
  None,
  False,
  1050.0,
  None,
  None,
  None,
  None,
  None,
  datetime.timedelta(seconds=8580),
  datetime.timedelta(seconds=9300),
  datetime.timedelta(seconds=9780)),
 ('SEA',
  'SAN',
  'AS',
  '498',
  datetime.date(2014, 7, 24),
  datetime.datetime(2014, 7, 24, 18, 55),
  datetime.datetime(2014, 7, 24, 19, 5),
  datetime.datetime(2014, 7, 24, 21, 38),
  datetime.datetime(2014, 7, 24, 21, 55),
  datetime.datetime(2014, 7, 24, 19, 23),
  datetime.datetime(2014, 7, 24, 21, 51),
  10,
  17,
  18,
  4,
  False,
  None,
  False,
  1050.0,
  10.0,
  7.0,
  0.0,
  0.0,
  0.0,
  datetime.timedelta(seconds=8880),
  datetime.timedelta(seconds=9780),
  datetime.timedelta(seconds=10200)),
 ('SAN',
  'SEA',
  'AS',
  '499',
  datetime.date(2014, 7, 24),
  datetime.datetime(2014, 7, 24, 6, 30),
  datetime.datetime(2014, 7, 24, 6, 27),
  datetime.datetime(2014, 7, 24, 9, 15),
  datetime.datetime(2014, 7, 24, 9, 23),
  datetime.datetime(2014, 7, 24, 6, 54),
  datetime.datetime(2014, 7, 24, 9, 18),
  -3,
  8,
  27,
  5,
  False,
  None,
  False,
  1050.0,
  None,
  None,
  None,
  None,
  None,
  datetime.timedelta(seconds=8640),
  datetime.timedelta(seconds=9900),
  datetime.timedelta(seconds=10560)),
 ('SNA',
  'SEA',
  'AS',
  '501',
  datetime.date(2014, 7, 24),
  datetime.datetime(2014, 7, 24, 10, 15),
  datetime.datetime(2014, 7, 24, 10, 15),
  datetime.datetime(2014, 7, 24, 12, 48),
  datetime.datetime(2014, 7, 24, 12, 43),
  datetime.datetime(2014, 7, 24, 10, 21),
  datetime.datetime(2014, 7, 24, 12, 39),
  0,
  -5,
  6,
  4,
  False,
  None,
  False,
  978.0,
  None,
  None,
  None,
  None,
  None,
  datetime.timedelta(seconds=8280),
  datetime.timedelta(seconds=9180),
  datetime.timedelta(seconds=8880)),
 ('SEA',
  'SNA',
  'AS',
  '502',
  datetime.date(2014, 7, 24),
  datetime.datetime(2014, 7, 24, 9, 0),
  datetime.datetime(2014, 7, 24, 9, 10),
  datetime.datetime(2014, 7, 24, 11, 44),
  datetime.datetime(2014, 7, 24, 11, 49),
  datetime.datetime(2014, 7, 24, 9, 23),
  datetime.datetime(2014, 7, 24, 11, 42),
  10,
  5,
  13,
  7,
  False,
  None,
  False,
  978.0,
  None,
  None,
  None,
  None,
  None,
  datetime.timedelta(seconds=8340),
  datetime.timedelta(seconds=9840),
  datetime.timedelta(seconds=9540))]

In [24]:
df \
    .select(
        F.col("op_carrier"),
        F.col("origin"),
        F.col("dest"),
        F.col("crs_elapsed_time"),
        F.col("actual_elapsed_time"),
        F.col("dep_delay"),
        F.col("taxi_out"),
        F.col("taxi_in"),
        F.col("arr_delay")
    ) \
    .where(F.col("cancelled") == False)
    .groupBy("op_carrier", "origin", "dest") \
    .agg(
        F.avg(F.col("crs_elapsed_time") - F.col("actual_elapsed_time")).alias("avg_total_delay"),
        F.avg("dep_delay").alias("avg_dep_delay"),
        F.avg("taxi_out").alias("avg_taxi_out"),
        F.avg("taxi_in").alias("avg_taxi_in"),
        F.avg("arr_delay").alias("avg_arr_delay")
    ) \
    .orderBy(F.col("avg_total_delay").desc()) \
    .show()

+----------+------+----+---------------+-------------+------------+-----------+-------------+
|op_carrier|origin|dest|avg_total_delay|avg_dep_delay|avg_taxi_out|avg_taxi_in|avg_arr_delay|
+----------+------+----+---------------+-------------+------------+-----------+-------------+
|        XE|   FSD| CLE|         1478.0|        746.0|        32.0|        7.0|        708.0|
|        EV|   SAV| JFK|         1472.0|         86.0|         9.0|        9.0|         54.0|
|        EV|   ORD| IAH|         1456.0|         72.0|        23.0|        7.0|         56.0|
|        EV|   ABE| EWR|         1453.0|         69.0|         8.0|       12.0|         56.0|
|        YX|   TPA| EWR|         1451.0|        131.0|        17.0|        6.0|        120.0|
|        FL|   MCO| EWR|         1450.0|        332.0|        13.0|        9.0|        322.0|
|        B6|   LAX| SEA|         1442.0|        268.0|        10.0|        4.0|        266.0|
|        DL|   LGA| TVC|         1439.0|         98.0|        16.0|       26.0|         99.0|
|        CO|   IAH| GSO|         1435.0|         51.0|        36.0|        4.0|         56.0|
|        DL|   LAX| OMA|         1434.0|         54.0|        16.0|       16.0|         60.0|
|        XE|   CVG| IND|         1434.0|         43.0|        13.0|        6.0|         49.0|
|        EV|   BNA| MOB|         1434.0|         27.0|        13.0|        5.0|         33.0|
|        XE|   BNA| CLE|         1433.0|          8.0|        17.0|        6.0|         15.0|
|        OO|   BUR| BOI|         1412.0|         16.0|        29.0|        5.0|         44.0|
|        EV|   RIC| CAE|         1402.0|        190.0|        13.0|        6.0|        228.0|
|        YX|   DFW| IAD|         1324.0|        129.0|       112.0|       11.0|        245.0|
|        VX|   JFK| SLC|         1317.0|         -2.0|        35.0|       11.0|         null|
|        OO|   MFR| SBP|         1267.0|         68.0|        13.0|        3.0|         null|
|        B6|   SWF| RSW|          745.0|        150.5|         9.5|        3.5|        125.5|
|        CO|   EWR| ABQ|          742.5|         89.5|        20.0|       10.5|         67.0|
+----------+------+----+---------------+-------------+------------+-----------+-------------+
only showing top 20 rows

In [14]:
df \
    .select(
        F.col("op_carrier"),
        F.col("origin"),
        F.col("dest"),
        F.col("crs_dep_time"),
        F.col("crs_arr_time"),
        F.col("wheels_off"),
        F.col("wheels_on"),
        F.col("air_time"),
        F.col("crs_elapsed_time"),
        F.col("actual_elapsed_time"),
        F.col("dep_delay"),
        F.col("taxi_out"),
        F.col("taxi_in"),
        F.col("arr_delay"),
        F.col("cancelled")
    ) \
    .withColumn("total_delay", F.col("crs_elapsed_time") - F.col("actual_elapsed_time")) \
    .where((F.col("op_carrier") == "XE") & (F.col("origin") == "FSD") & (F.col("dest") == "CLE")) \
    .show()

+----------+------+----+-------------------+-------------------+-------------------+-------------------+--------+----------------+-------------------+---------+--------+-------+---------+---------+-----------+
|op_carrier|origin|dest|       crs_dep_time|       crs_arr_time|         wheels_off|          wheels_on|air_time|crs_elapsed_time|actual_elapsed_time|dep_delay|taxi_out|taxi_in|arr_delay|cancelled|total_delay|
+----------+------+----+-------------------+-------------------+-------------------+-------------------+--------+----------------+-------------------+---------+--------+-------+---------+---------+-----------+
|        XE|   FSD| CLE|2011-03-24 23:30:00|2011-03-25 00:00:00|               null|               null|    null|            30.0|               null|     null|    null|   null|     null|     true|       null|
|        XE|   FSD| CLE|2011-03-25 10:30:00|2011-03-25 14:15:00|2011-03-25 23:28:00|2011-03-26 00:00:00|    32.0|           225.0|               71.0|      746|      32|      7|      708|    false|      154.0|
+----------+------+----+-------------------+-------------------+-------------------+-------------------+--------+----------------+-------------------+---------+--------+-------+---------+---------+-----------+

Essa daqui dá crash

In [11]:
t0 = datetime.now()
result_spark = df \
    .select(
        F.col("fl_date"),
        F.col("op_carrier"),
        F.col("origin"),
        F.col("dest"),
        F.col("crs_elapsed_time"),
        F.col("actual_elapsed_time"),
        F.col("dep_delay"),
        F.col("taxi_out"),
        F.col("taxi_in"),
        F.col("arr_delay")
    ) \
    .groupBy("fl_date", "op_carrier", "origin", "dest") \
    .agg(
        F.avg(F.col("crs_elapsed_time") - F.col("actual_elapsed_time")).alias("avg_total_delay"),
        F.avg("dep_delay").alias("avg_dep_delay"),
        F.avg("taxi_out").alias("avg_taxi_out"),
        F.avg("taxi_in").alias("avg_taxi_in"),
        F.avg("arr_delay").alias("avg_arr_delay")
    ) \
    .orderBy(F.col("avg_total_delay").desc()) \
    .collect()
t1 = datetime.now()
delta = t1 - t0

print(f"Execution time: {delta}")

Exception in thread "refresh progress" java.lang.OutOfMemoryError: Java heap space
	at scala.Option.map(Option.scala:230)
	at org.apache.spark.status.AppStatusStore.activeStages(AppStatusStore.scala:114)
	at org.apache.spark.ui.ConsoleProgressBar.org$apache$spark$ui$ConsoleProgressBar$$refresh(ConsoleProgressBar.scala:64)
	at org.apache.spark.ui.ConsoleProgressBar$$anon$1.run(ConsoleProgressBar.scala:52)
	at java.base/java.util.TimerThread.mainLoop(Unknown Source)
	at java.base/java.util.TimerThread.run(Unknown Source)

Py4JJavaError: An error occurred while calling o157.collectToPython.
: java.lang.OutOfMemoryError: Java heap space
	at org.apache.spark.sql.execution.SparkPlan$$anon$1._next(SparkPlan.scala:377)
	at org.apache.spark.sql.execution.SparkPlan$$anon$1.getNext(SparkPlan.scala:388)
	at org.apache.spark.sql.execution.SparkPlan$$anon$1.getNext(SparkPlan.scala:374)
	at org.apache.spark.util.NextIterator.hasNext(NextIterator.scala:73)
	at scala.collection.Iterator.foreach(Iterator.scala:943)
	at scala.collection.Iterator.foreach$(Iterator.scala:943)
	at org.apache.spark.util.NextIterator.foreach(NextIterator.scala:21)
	at org.apache.spark.sql.execution.SparkPlan.$anonfun$executeCollect$1(SparkPlan.scala:411)
	at org.apache.spark.sql.execution.SparkPlan.$anonfun$executeCollect$1$adapted(SparkPlan.scala:410)
	at org.apache.spark.sql.execution.SparkPlan$$Lambda$2992/0x000000084120c840.apply(Unknown Source)
	at scala.collection.IndexedSeqOptimized.foreach(IndexedSeqOptimized.scala:36)
	at scala.collection.IndexedSeqOptimized.foreach$(IndexedSeqOptimized.scala:33)
	at scala.collection.mutable.ArrayOps$ofRef.foreach(ArrayOps.scala:198)
	at org.apache.spark.sql.execution.SparkPlan.executeCollect(SparkPlan.scala:410)
	at org.apache.spark.sql.execution.adaptive.AdaptiveSparkPlanExec.$anonfun$executeCollect$1(AdaptiveSparkPlanExec.scala:340)
	at org.apache.spark.sql.execution.adaptive.AdaptiveSparkPlanExec$$Lambda$2526/0x0000000841032840.apply(Unknown Source)
	at org.apache.spark.sql.execution.adaptive.AdaptiveSparkPlanExec.withFinalPlanUpdate(AdaptiveSparkPlanExec.scala:368)
	at org.apache.spark.sql.execution.adaptive.AdaptiveSparkPlanExec.executeCollect(AdaptiveSparkPlanExec.scala:340)
	at org.apache.spark.sql.Dataset.$anonfun$collectToPython$1(Dataset.scala:3538)
	at org.apache.spark.sql.Dataset$$Lambda$2200/0x0000000840eb5040.apply(Unknown Source)
	at org.apache.spark.sql.Dataset.$anonfun$withAction$1(Dataset.scala:3706)
	at org.apache.spark.sql.Dataset$$Lambda$2201/0x0000000840eb5840.apply(Unknown Source)
	at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId$5(SQLExecution.scala:103)
	at org.apache.spark.sql.execution.SQLExecution$$$Lambda$2206/0x0000000840eb8040.apply(Unknown Source)
	at org.apache.spark.sql.execution.SQLExecution$.withSQLConfPropagated(SQLExecution.scala:163)
	at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId$1(SQLExecution.scala:90)
	at org.apache.spark.sql.execution.SQLExecution$$$Lambda$2202/0x0000000840eb5c40.apply(Unknown Source)
	at org.apache.spark.sql.SparkSession.withActive(SparkSession.scala:775)
	at org.apache.spark.sql.execution.SQLExecution$.withNewExecutionId(SQLExecution.scala:64)
	at org.apache.spark.sql.Dataset.withAction(Dataset.scala:3704)
	at org.apache.spark.sql.Dataset.collectToPython(Dataset.scala:3535)
	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke0(Native Method)

Essa query no postgres crasha o computador

In [ ]:
t0 = datetime.now()
cur.execute(
    """
    select
        fl_date,
        origin,
        dest,
        op_carrier,
        avg(crs_elapsed_time - actual_elapsed_time) as avg_total_delay,
        avg(dep_delay) as avg_dep_delay,
        avg(arr_delay) as avg_arr_delay,
        avg(taxi_out) as avg_taxi_out,
        avg(taxi_in) as avg_taxi_in
    from
        flight_delays
    group by
        fl_date,
        origin,
        dest,
        op_carrier
    order by
        5 desc
    """
)
result_postgres = cur.fetchall()
t1 = datetime.now()
delta = t1 - t0

print(f"Execution time: {delta}")
conn.commit()